/* Reset */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, HelveticaNeue-Light, 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, Geneva, sans-serif;

  color: white;
  background-color: #252525;
}
html, body {
  height: 100%;
}
li {
  list-style-type: none;
}

/* Utils */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App */
#app {
  width: 100%;
  height: 100%;
}
