.container {
  background-color: #999;
}
.typeNav {
  background-color: #ff8;
}
.gridView {
  background-color: #8ff;

  display: flex;
  flex-wrap: wrap;
}

.gridNode {
  background-color: #aaa;

  border-radius: 12px;
  height: 10em;

  flex: 0 0 10em;
  margin: 1em;

  display: flex;
  justify-content: center;
  align-items: center;
}
